In [15]:
import os
print(os.getcwd())
os.chdir('d:\\vscode_machineLearning\\internship\\Customer-Churn-Prediction')
print(os.getcwd())

d:\vscode_machineLearning\internship\Customer-Churn-Prediction
d:\vscode_machineLearning\internship\Customer-Churn-Prediction

In [16]:
import pandas as pd
from ensure import ensure_annotations
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [17]:
df = pd.read_csv(r'artifacts/raw_data/customer_churn_removed_col.csv')

In [18]:
df['Subscription_Length_Months']

0        17
1         1
2         5
3         3
4        19
         ..
99995    23
99996    19
99997    17
99998    20
99999    19
Name: Subscription_Length_Months, Length: 100000, dtype: int64

In [19]:
from imblearn.over_sampling import SMOTE

In [20]:
smte = SMOTE()

In [21]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

preprocessing = ColumnTransformer(transformers=[
    ('OHE',OneHotEncoder(drop='first',sparse=False,dtype=np.int64),['Location']),
],remainder='passthrough')

In [22]:
df['Gender']=df['Gender'].replace({'Male':0,'Female':1})

In [23]:
df = preprocessing.fit_transform(df)
df = pd.DataFrame(data=df,columns=preprocessing.get_feature_names_out())

,OHE__Location_Houston,OHE__Location_Los Angeles,OHE__Location_Miami,OHE__Location_New York,remainder__Age,remainder__Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB,remainder__Churn
0,0.0,1.0,0.0,0.0,63.0,0.0,17.0,73.36,236.0,0.0
1,0.0,0.0,0.0,1.0,62.0,1.0,1.0,48.76,172.0,0.0
2,0.0,1.0,0.0,0.0,24.0,1.0,5.0,85.47,460.0,0.0
3,0.0,0.0,1.0,0.0,36.0,1.0,3.0,97.94,297.0,1.0
4,0.0,0.0,1.0,0.0,46.0,1.0,19.0,58.14,266.0,0.0
...,...,...,...,...,...,...,...,...,...,...
99995,1.0,0.0,0.0,0.0,33.0,0.0,23.0,55.13,226.0,1.0
99996,0.0,0.0,0.0,1.0,62.0,1.0,19.0,61.65,351.0,0.0
99997,0.0,0.0,0.0,0.0,64.0,0.0,17.0,96.11,251.0,1.0
99998,0.0,0.0,0.0,1.0,51.0,1.0,20.0,49.25,434.0,1.0
99999,0.0,1.0,0.0,0.0,27.0,1.0,19.0,76.57,173.0,1.0

In [26]:
X,y= smte.fit_resample(X=df.drop(columns='remainder__Churn'),y=df['remainder__Churn'])

In [30]:
X

,OHE__Location_Houston,OHE__Location_Los Angeles,OHE__Location_Miami,OHE__Location_New York,remainder__Age,remainder__Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB
0,0.000000,1.000000,0.000000,0.000000,63.000000,0.000000,17.000000,73.360000,236.000000
1,0.000000,0.000000,0.000000,1.000000,62.000000,1.000000,1.000000,48.760000,172.000000
2,0.000000,1.000000,0.000000,0.000000,24.000000,1.000000,5.000000,85.470000,460.000000
3,0.000000,0.000000,1.000000,0.000000,36.000000,1.000000,3.000000,97.940000,297.000000
4,0.000000,0.000000,1.000000,0.000000,46.000000,1.000000,19.000000,58.140000,266.000000
...,...,...,...,...,...,...,...,...,...
100437,0.000000,0.000000,0.931238,0.068762,56.862476,0.000000,16.068762,62.281101,443.793715
100438,0.000000,0.976907,0.023093,0.000000,51.023093,1.000000,5.000000,69.559175,261.046186
100439,0.499398,0.000000,0.000000,0.000000,32.000000,0.499398,2.498193,49.101048,305.002409
100440,0.000000,0.884882,0.000000,0.115118,59.345355,0.000000,17.884882,48.601595,463.115118
100441,0.000000,0.000000,0.635973,0.364027,59.364027,1.000000,15.728054,32.461344,487.364027

In [31]:
df1 = pd.DataFrame(data=X)
df2 = pd.DataFrame(data=y)
df_SMOTE = pd.concat(objs=[df1,df2],axis=1)
df_SMOTE

,OHE__Location_Houston,OHE__Location_Los Angeles,OHE__Location_Miami,OHE__Location_New York,remainder__Age,remainder__Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB,remainder__Churn
0,0.000000,1.000000,0.000000,0.000000,63.000000,0.000000,17.000000,73.360000,236.000000,0.0
1,0.000000,0.000000,0.000000,1.000000,62.000000,1.000000,1.000000,48.760000,172.000000,0.0
2,0.000000,1.000000,0.000000,0.000000,24.000000,1.000000,5.000000,85.470000,460.000000,0.0
3,0.000000,0.000000,1.000000,0.000000,36.000000,1.000000,3.000000,97.940000,297.000000,1.0
4,0.000000,0.000000,1.000000,0.000000,46.000000,1.000000,19.000000,58.140000,266.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
100437,0.000000,0.000000,0.931238,0.068762,56.862476,0.000000,16.068762,62.281101,443.793715,1.0
100438,0.000000,0.976907,0.023093,0.000000,51.023093,1.000000,5.000000,69.559175,261.046186,1.0
100439,0.499398,0.000000,0.000000,0.000000,32.000000,0.499398,2.498193,49.101048,305.002409,1.0
100440,0.000000,0.884882,0.000000,0.115118,59.345355,0.000000,17.884882,48.601595,463.115118,1.0
100441,0.000000,0.000000,0.635973,0.364027,59.364027,1.000000,15.728054,32.461344,487.364027,1.0

In [35]:
X = df_SMOTE.drop(columns='remainder__Churn')
y = df_SMOTE['remainder__Churn']

In [41]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score, classification_report

In [39]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [40]:
logst = LogisticRegression()
logst.fit(X_train,y_train)

LogisticRegression()

In [42]:
def evaluate(true,pred):
    
    cm = confusion_matrix(true, pred)
    accuracy = accuracy_score(true, pred)
    recall = recall_score(true, pred)
    precision = precision_score(true, pred)
    
    report = classification_report(true, pred)

    evaluation_report = {
        'confusion_matrix': cm,
        'accuracy': accuracy,
        'recall': recall,
        'precision': precision,
        'classification_report': report
    }
    print('confusion metrics: \n',cm)
    print('accuracy: \n',accuracy)
    print('precision: \n',precision)
    print('recall: \n',recall)
    print('classification_report: \n',report)

In [43]:
pred = logst.predict(X_test)
evaluate(true=y_test,pred=pred)

confusion metrics:
 [[8189 8396]
 [8106 8455]]
accuracy:
 0.502142038254993
precision:
 0.5017506379443356
recall:
 0.510536803333132
classification_report:
               precision    recall  f1-score   support

         0.0       0.50      0.49      0.50     16585
         1.0       0.50      0.51      0.51     16561

    accuracy                           0.50     33146
   macro avg       0.50      0.50      0.50     33146
weighted avg       0.50      0.50      0.50     33146