In [98]:
import os
print(os.getcwd())
os.chdir('d:\\vscode_machineLearning\\internship\\Customer-Churn-Prediction')
print(os.getcwd())

d:\vscode_machineLearning\internship\Customer-Churn-Prediction
d:\vscode_machineLearning\internship\Customer-Churn-Prediction

In [99]:
import pandas as pd
from ensure import ensure_annotations
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [100]:
df = pd.read_csv(r'artifacts/raw_data/customer_churn_removed_col.csv')

In [101]:
df['Subscription_Length_Months']

0        17
1         1
2         5
3         3
4        19
         ..
99995    23
99996    19
99997    17
99998    20
99999    19
Name: Subscription_Length_Months, Length: 100000, dtype: int64

In [102]:
from imblearn.over_sampling import SMOTE

In [103]:
smte = SMOTE(sampling_strategy='all')

In [104]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

preprocessing = ColumnTransformer(transformers=[
    ('OHE',OneHotEncoder(drop='first',sparse=False,dtype=np.int64),['Location']),
],remainder='passthrough')

In [105]:
df['Gender']=df['Gender'].replace({'Male':0,'Female':1})

In [106]:
df = preprocessing.fit_transform(df)
df = pd.DataFrame(data=df,columns=preprocessing.get_feature_names_out())

In [107]:
df = df.rename(columns={'OHE__Location_Houston': 'Houston',
                        'OHE__Location_Los Angeles': 'LosAngeles',
                        'OHE__Location_Miami': 'Miami',
                        'OHE__Location_New York': 'NewYork',
                        'remainder__Age': 'Age',
                        'remainder__Subscription_Length_Months': 'Subscription_Length_Months',
                        'remainder__Monthly_Bill': 'Monthly_Bill',
                        'remainder__Total_Usage_GB':'Total_Usage_GB',
                        'remainder__Gender':'Gender',
                        'remainder__Churn': 'Churn'})

In [108]:
df

,Houston,LosAngeles,Miami,NewYork,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,0.0,1.0,0.0,0.0,63.0,0.0,17.0,73.36,236.0,0.0
1,0.0,0.0,0.0,1.0,62.0,1.0,1.0,48.76,172.0,0.0
2,0.0,1.0,0.0,0.0,24.0,1.0,5.0,85.47,460.0,0.0
3,0.0,0.0,1.0,0.0,36.0,1.0,3.0,97.94,297.0,1.0
4,0.0,0.0,1.0,0.0,46.0,1.0,19.0,58.14,266.0,0.0
...,...,...,...,...,...,...,...,...,...,...
99995,1.0,0.0,0.0,0.0,33.0,0.0,23.0,55.13,226.0,1.0
99996,0.0,0.0,0.0,1.0,62.0,1.0,19.0,61.65,351.0,0.0
99997,0.0,0.0,0.0,0.0,64.0,0.0,17.0,96.11,251.0,1.0
99998,0.0,0.0,0.0,1.0,51.0,1.0,20.0,49.25,434.0,1.0
99999,0.0,1.0,0.0,0.0,27.0,1.0,19.0,76.57,173.0,1.0

In [109]:
X,y= smte.fit_resample(X=df.drop(columns='Churn'),y=df['Churn'])

In [110]:
X

,Houston,LosAngeles,Miami,NewYork,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB
0,0.000000,1.000000,0.000000,0.0,63.000000,0.000000,17.000000,73.360000,236.000000
1,0.000000,0.000000,0.000000,1.0,62.000000,1.000000,1.000000,48.760000,172.000000
2,0.000000,1.000000,0.000000,0.0,24.000000,1.000000,5.000000,85.470000,460.000000
3,0.000000,0.000000,1.000000,0.0,36.000000,1.000000,3.000000,97.940000,297.000000
4,0.000000,0.000000,1.000000,0.0,46.000000,1.000000,19.000000,58.140000,266.000000
...,...,...,...,...,...,...,...,...,...
100437,0.430686,0.000000,0.000000,0.0,29.292059,1.000000,2.569314,33.691332,70.569314
100438,0.215671,0.000000,0.000000,0.0,27.352988,0.215671,23.784329,46.297084,63.568659
100439,0.000000,0.000000,0.314851,0.0,41.000000,0.685149,1.629702,31.427149,112.796043
100440,0.000000,0.433311,0.000000,0.0,32.133378,0.433311,11.000000,34.999980,455.133378
100441,0.000000,0.000000,0.000000,1.0,30.103789,0.448105,3.000000,47.830000,337.344316

In [111]:
df1 = pd.DataFrame(data=X)
df2 = pd.DataFrame(data=y)
df_SMOTE = pd.concat(objs=[df1,df2],axis=1)
df_SMOTE

,Houston,LosAngeles,Miami,NewYork,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB,Churn
0,0.000000,1.000000,0.000000,0.0,63.000000,0.000000,17.000000,73.360000,236.000000,0.0
1,0.000000,0.000000,0.000000,1.0,62.000000,1.000000,1.000000,48.760000,172.000000,0.0
2,0.000000,1.000000,0.000000,0.0,24.000000,1.000000,5.000000,85.470000,460.000000,0.0
3,0.000000,0.000000,1.000000,0.0,36.000000,1.000000,3.000000,97.940000,297.000000,1.0
4,0.000000,0.000000,1.000000,0.0,46.000000,1.000000,19.000000,58.140000,266.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
100437,0.430686,0.000000,0.000000,0.0,29.292059,1.000000,2.569314,33.691332,70.569314,1.0
100438,0.215671,0.000000,0.000000,0.0,27.352988,0.215671,23.784329,46.297084,63.568659,1.0
100439,0.000000,0.000000,0.314851,0.0,41.000000,0.685149,1.629702,31.427149,112.796043,1.0
100440,0.000000,0.433311,0.000000,0.0,32.133378,0.433311,11.000000,34.999980,455.133378,1.0
100441,0.000000,0.000000,0.000000,1.0,30.103789,0.448105,3.000000,47.830000,337.344316,1.0

In [112]:
X = df_SMOTE.drop(columns='Churn')
y = df_SMOTE['Churn']

In [113]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score, classification_report
from sklearn.ensemble import RandomForestClassifier

In [114]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [115]:
logst = LogisticRegression()
logst.fit(X_train,y_train)

LogisticRegression()

In [116]:
def evaluate(true,pred):
    
    cm = confusion_matrix(true, pred)
    accuracy = accuracy_score(true, pred)
    recall = recall_score(true, pred)
    precision = precision_score(true, pred)
    
    report = classification_report(true, pred)

    evaluation_report = {
        'confusion_matrix': cm,
        'accuracy': accuracy,
        'recall': recall,
        'precision': precision,
        'classification_report': report
    }
    print('confusion metrics: \n',cm)
    print('accuracy: \n',accuracy)
    print('precision: \n',precision)
    print('recall: \n',recall)
    print('classification_report: \n',report)

In [126]:
pred = logst.predict(X_test)
evaluate(true=y_test,pred=pred)

confusion metrics:
 [[8274 8311]
 [8143 8418]]
accuracy:
 0.5035901767935799
precision:
 0.503198039332895
recall:
 0.5083026387295453
classification_report:
               precision    recall  f1-score   support

         0.0       0.50      0.50      0.50     16585
         1.0       0.50      0.51      0.51     16561

    accuracy                           0.50     33146
   macro avg       0.50      0.50      0.50     33146
weighted avg       0.50      0.50      0.50     33146

In [124]:
from sklearn.inspection import DecisionBoundaryDisplay

In [118]:
rfc = RandomForestClassifier(n_estimators=200,oob_score=True)
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200, oob_score=True)

In [125]:
pred = rfc.predict(X_test)
evaluate(true=y_test,pred=pred)

confusion metrics:
 [[8463 8122]
 [8550 8011]]
accuracy:
 0.4970132142641646
precision:
 0.49655984627781563
recall:
 0.48372682809009115
classification_report:
               precision    recall  f1-score   support

         0.0       0.50      0.51      0.50     16585
         1.0       0.50      0.48      0.49     16561

    accuracy                           0.50     33146
   macro avg       0.50      0.50      0.50     33146
weighted avg       0.50      0.50      0.50     33146

## generated data again

In [120]:
X,y= smte.fit_resample(X=df_SMOTE.drop(columns='Churn'),y=df_SMOTE['Churn'])

In [121]:
X

,Houston,LosAngeles,Miami,NewYork,Age,Gender,Subscription_Length_Months,Monthly_Bill,Total_Usage_GB
0,0.000000,1.000000,0.000000,0.0,63.000000,0.000000,17.000000,73.360000,236.000000
1,0.000000,0.000000,0.000000,1.0,62.000000,1.000000,1.000000,48.760000,172.000000
2,0.000000,1.000000,0.000000,0.0,24.000000,1.000000,5.000000,85.470000,460.000000
3,0.000000,0.000000,1.000000,0.0,36.000000,1.000000,3.000000,97.940000,297.000000
4,0.000000,0.000000,1.000000,0.0,46.000000,1.000000,19.000000,58.140000,266.000000
...,...,...,...,...,...,...,...,...,...
100437,0.430686,0.000000,0.000000,0.0,29.292059,1.000000,2.569314,33.691332,70.569314
100438,0.215671,0.000000,0.000000,0.0,27.352988,0.215671,23.784329,46.297084,63.568659
100439,0.000000,0.000000,0.314851,0.0,41.000000,0.685149,1.629702,31.427149,112.796043
100440,0.000000,0.433311,0.000000,0.0,32.133378,0.433311,11.000000,34.999980,455.133378
100441,0.000000,0.000000,0.000000,1.0,30.103789,0.448105,3.000000,47.830000,337.344316

In [122]:
os.makedirs('artifacts/generated_data/',exist_ok=True)

In [123]:
df_SMOTE.to_csv('artifacts/generated_data/442_data.csv',index=False)