In [43]:
import os
print(os.getcwd())
os.chdir('d:\\vscode_machineLearning\\internship\\Customer-Churn-Prediction')
print(os.getcwd())

d:\vscode_machineLearning\internship\Customer-Churn-Prediction
d:\vscode_machineLearning\internship\Customer-Churn-Prediction

In [44]:
import pandas as pd
from ensure import ensure_annotations
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [45]:
df = pd.read_csv(r'artifacts/raw_data/customer_churn_removed_col.csv')

In [46]:
df['Subscription_Length_Months']

0        17
1         1
2         5
3         3
4        19
         ..
99995    23
99996    19
99997    17
99998    20
99999    19
Name: Subscription_Length_Months, Length: 100000, dtype: int64

In [47]:
from imblearn.over_sampling import SMOTE

In [48]:
smte = SMOTE(sampling_strategy='all')

In [49]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

preprocessing = ColumnTransformer(transformers=[
    ('OHE',OneHotEncoder(drop='first',sparse=False,dtype=np.int64),['Location']),
],remainder='passthrough')

In [50]:
df['Gender']=df['Gender'].replace({'Male':0,'Female':1})

In [51]:
df = preprocessing.fit_transform(df)
df = pd.DataFrame(data=df,columns=preprocessing.get_feature_names_out())

In [52]:
df = df.rename(columns={'OHE__Location_Houston': 'Houston',
                        'OHE__Location_Los Angeles': 'LosAngeles',
                        'OHE__Location_Miami': 'Miami',
                        'OHE__Location_New York': 'NewYork',
                        'scaling__Age': 'Age',
                        'scaling__Subscription_Length_Months': 'Subscription_Length_Months',
                        'scaling__Monthly_Bill': 'Monthly_Bill',
                        'scaling__Total_Usage_GB':'Total_Usage_GB',
                        'remainder__Gender':'Gender',
                        'remainder__Churn': 'Churn'})

In [53]:
df

,Houston,LosAngeles,Miami,NewYork,remainder__Age,Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB,Churn
0,0.0,1.0,0.0,0.0,63.0,0.0,17.0,73.36,236.0,0.0
1,0.0,0.0,0.0,1.0,62.0,1.0,1.0,48.76,172.0,0.0
2,0.0,1.0,0.0,0.0,24.0,1.0,5.0,85.47,460.0,0.0
3,0.0,0.0,1.0,0.0,36.0,1.0,3.0,97.94,297.0,1.0
4,0.0,0.0,1.0,0.0,46.0,1.0,19.0,58.14,266.0,0.0
...,...,...,...,...,...,...,...,...,...,...
99995,1.0,0.0,0.0,0.0,33.0,0.0,23.0,55.13,226.0,1.0
99996,0.0,0.0,0.0,1.0,62.0,1.0,19.0,61.65,351.0,0.0
99997,0.0,0.0,0.0,0.0,64.0,0.0,17.0,96.11,251.0,1.0
99998,0.0,0.0,0.0,1.0,51.0,1.0,20.0,49.25,434.0,1.0
99999,0.0,1.0,0.0,0.0,27.0,1.0,19.0,76.57,173.0,1.0

In [54]:
X,y= smte.fit_resample(X=df.drop(columns='Churn'),y=df['Churn'])

In [55]:
X

,Houston,LosAngeles,Miami,NewYork,remainder__Age,Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB
0,0.000000,1.000000,0.0,0.000000,63.000000,0.000000,17.000000,73.360000,236.000000
1,0.000000,0.000000,0.0,1.000000,62.000000,1.000000,1.000000,48.760000,172.000000
2,0.000000,1.000000,0.0,0.000000,24.000000,1.000000,5.000000,85.470000,460.000000
3,0.000000,0.000000,1.0,0.000000,36.000000,1.000000,3.000000,97.940000,297.000000
4,0.000000,0.000000,1.0,0.000000,46.000000,1.000000,19.000000,58.140000,266.000000
...,...,...,...,...,...,...,...,...,...
100437,0.000000,1.000000,0.0,0.000000,39.366164,0.316918,21.267672,87.818975,253.000000
100438,0.920536,0.000000,0.0,0.079464,41.000000,0.000000,20.000000,74.120618,374.841073
100439,0.000000,0.000000,0.0,0.000000,25.279255,0.860372,11.720745,63.767473,107.581117
100440,0.000000,0.000000,0.0,0.823642,47.352716,1.000000,6.000000,95.718531,250.647284
100441,0.000000,0.130914,0.0,0.869086,58.738173,1.000000,9.000000,81.804478,374.392741

In [56]:
df1 = pd.DataFrame(data=X)
df2 = pd.DataFrame(data=y)
df_SMOTE = pd.concat(objs=[df1,df2],axis=1)
df_SMOTE

,Houston,LosAngeles,Miami,NewYork,remainder__Age,Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB,Churn
0,0.000000,1.000000,0.0,0.000000,63.000000,0.000000,17.000000,73.360000,236.000000,0.0
1,0.000000,0.000000,0.0,1.000000,62.000000,1.000000,1.000000,48.760000,172.000000,0.0
2,0.000000,1.000000,0.0,0.000000,24.000000,1.000000,5.000000,85.470000,460.000000,0.0
3,0.000000,0.000000,1.0,0.000000,36.000000,1.000000,3.000000,97.940000,297.000000,1.0
4,0.000000,0.000000,1.0,0.000000,46.000000,1.000000,19.000000,58.140000,266.000000,0.0
...,...,...,...,...,...,...,...,...,...,...
100437,0.000000,1.000000,0.0,0.000000,39.366164,0.316918,21.267672,87.818975,253.000000,1.0
100438,0.920536,0.000000,0.0,0.079464,41.000000,0.000000,20.000000,74.120618,374.841073,1.0
100439,0.000000,0.000000,0.0,0.000000,25.279255,0.860372,11.720745,63.767473,107.581117,1.0
100440,0.000000,0.000000,0.0,0.823642,47.352716,1.000000,6.000000,95.718531,250.647284,1.0
100441,0.000000,0.130914,0.0,0.869086,58.738173,1.000000,9.000000,81.804478,374.392741,1.0

In [57]:
X = df_SMOTE.drop(columns='Churn')
y = df_SMOTE['Churn']

In [69]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, recall_score, accuracy_score, precision_score, classification_report
from sklearn.ensemble import RandomForestClassifier

In [59]:
X_train, X_test, y_train, y_test = train_test_split(
     X, y, test_size=0.33, random_state=42)

In [60]:
logst = LogisticRegression()
logst.fit(X_train,y_train)

LogisticRegression()

In [61]:
def evaluate(true,pred):
    
    cm = confusion_matrix(true, pred)
    accuracy = accuracy_score(true, pred)
    recall = recall_score(true, pred)
    precision = precision_score(true, pred)
    
    report = classification_report(true, pred)

    evaluation_report = {
        'confusion_matrix': cm,
        'accuracy': accuracy,
        'recall': recall,
        'precision': precision,
        'classification_report': report
    }
    print('confusion metrics: \n',cm)
    print('accuracy: \n',accuracy)
    print('precision: \n',precision)
    print('recall: \n',recall)
    print('classification_report: \n',report)

In [62]:
pred = logst.predict(X_test)
evaluate(true=y_test,pred=pred)

confusion metrics:
 [[8160 8425]
 [8056 8505]]
accuracy:
 0.5027755988656248
precision:
 0.502362669816893
recall:
 0.5135559446893303
classification_report:
               precision    recall  f1-score   support

         0.0       0.50      0.49      0.50     16585
         1.0       0.50      0.51      0.51     16561

    accuracy                           0.50     33146
   macro avg       0.50      0.50      0.50     33146
weighted avg       0.50      0.50      0.50     33146

In [70]:
rfc = RandomForestClassifier(n_estimators=200,oob_score=True)
rfc.fit(X_train,y_train)

RandomForestClassifier(n_estimators=200, oob_score=True)

In [71]:
pred = rfc.predict(X_test)
evaluate(true=y_test,pred=pred)

confusion metrics:
 [[8524 8061]
 [8549 8012]]
accuracy:
 0.49888372654317265
precision:
 0.4984757045977727
recall:
 0.48378721091721516
classification_report:
               precision    recall  f1-score   support

         0.0       0.50      0.51      0.51     16585
         1.0       0.50      0.48      0.49     16561

    accuracy                           0.50     33146
   macro avg       0.50      0.50      0.50     33146
weighted avg       0.50      0.50      0.50     33146

## generated data again

In [63]:
X,y= smte.fit_resample(X=df_SMOTE.drop(columns='Churn'),y=df_SMOTE['Churn'])

In [64]:
X

,Houston,LosAngeles,Miami,NewYork,remainder__Age,Gender,remainder__Subscription_Length_Months,remainder__Monthly_Bill,remainder__Total_Usage_GB
0,0.000000,1.000000,0.0,0.000000,63.000000,0.000000,17.000000,73.360000,236.000000
1,0.000000,0.000000,0.0,1.000000,62.000000,1.000000,1.000000,48.760000,172.000000
2,0.000000,1.000000,0.0,0.000000,24.000000,1.000000,5.000000,85.470000,460.000000
3,0.000000,0.000000,1.0,0.000000,36.000000,1.000000,3.000000,97.940000,297.000000
4,0.000000,0.000000,1.0,0.000000,46.000000,1.000000,19.000000,58.140000,266.000000
...,...,...,...,...,...,...,...,...,...
100437,0.000000,1.000000,0.0,0.000000,39.366164,0.316918,21.267672,87.818975,253.000000
100438,0.920536,0.000000,0.0,0.079464,41.000000,0.000000,20.000000,74.120618,374.841073
100439,0.000000,0.000000,0.0,0.000000,25.279255,0.860372,11.720745,63.767473,107.581117
100440,0.000000,0.000000,0.0,0.823642,47.352716,1.000000,6.000000,95.718531,250.647284
100441,0.000000,0.130914,0.0,0.869086,58.738173,1.000000,9.000000,81.804478,374.392741

In [65]:
os.makedirs('artifacts/generated_data/')

In [68]:
df_SMOTE.to_csv('artifacts/generated_data/442_data.csv',index=False)