In [156]:
import os
print(os.getcwd())
os.chdir('d:\\vscode_machineLearning\\internship\\Customer-Churn-Prediction')
print(os.getcwd())

d:\vscode_machineLearning\internship\Customer-Churn-Prediction
d:\vscode_machineLearning\internship\Customer-Churn-Prediction

In [157]:
import pandas as pd
from ensure import ensure_annotations
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [158]:
df = pd.read_csv(r'artifacts/raw_data/customer_churn_removed_col.csv')

In [159]:
df['Subscription_Length_Months']

0        17
1         1
2         5
3         3
4        19
         ..
99995    23
99996    19
99997    17
99998    20
99999    19
Name: Subscription_Length_Months, Length: 100000, dtype: int64

In [160]:
df['Subscription_Length_Months'].value_counts()

Subscription_Length_Months
20    4303
22    4267
1     4247
16    4229
2     4228
14    4213
7     4211
11    4200
6     4184
5     4171
18    4171
12    4155
21    4154
13    4154
10    4151
3     4136
9     4134
15    4122
24    4113
8     4106
19    4106
4     4098
23    4083
17    4064
Name: count, dtype: int64

In [161]:
df['Subscription_Length_Months'].dtype

dtype('int64')

In [162]:
def add_year(val):
    if val <=12:
        return val
    if val > 12:
        return 
    return

In [163]:
12 - df['Subscription_Length_Months']

0        -5
1        11
2         7
3         9
4        -7
         ..
99995   -11
99996    -7
99997    -5
99998    -8
99999    -7
Name: Subscription_Length_Months, Length: 100000, dtype: int64

In [164]:
df['Subscription_Length_Months'].apply(lambda x: x if x < 12 else x % 12)

0         5
1         1
2         5
3         3
4         7
         ..
99995    11
99996     7
99997     5
99998     8
99999     7
Name: Subscription_Length_Months, Length: 100000, dtype: int64

In [165]:
def create_year(val):
    if val ==24:
        return 2  
    elif val >=12:
        return 1
    else:
        return 0

In [166]:
df['year']=df['Subscription_Length_Months'].apply(func=create_year)

In [167]:
def create_month(val):
    if val ==24:
        return 0
    elif val ==12:
        return 0
    elif val <12:
        return val
    else:
        return val-12

In [168]:
df['month'] = df['Subscription_Length_Months'].apply(func=create_month)

In [185]:
df[['year','month','Subscription_Length_Months']].sample(10)

       year  month  Subscription_Length_Months
2557      0     11                          11
73263     0      6                           6
74220     1      4                          16
84975     1      7                          19
71985     1      0                          12
75476     0      9                           9
95720     0      7                           7
74143     1      7                          19
79777     1     11                          23
28721     1      5                          17

In [194]:
df[df['Subscription_Length_Months']==24][['year','month','Subscription_Length_Months']].sample(10)

       year  month  Subscription_Length_Months
59569     2      0                          24
27754     2      0                          24
45176     2      0                          24
48382     2      0                          24
48809     2      0                          24
53251     2      0                          24
9421      2      0                          24
16102     2      0                          24
31637     2      0                          24
64218     2      0                          24

In [204]:
df[df['Subscription_Length_Months']==12][['year','month','Subscription_Length_Months']].sample(10)

       year  month  Subscription_Length_Months
87062     1      0                          12
44605     1      0                          12
98344     1      0                          12
39097     1      0                          12
88358     1      0                          12
16655     1      0                          12
35090     1      0                          12
25886     1      0                          12
68374     1      0                          12
23554     1      0                          12

In [206]:
df = df.drop(columns='Subscription_Length_Months')

In [211]:
df.to_csv(r'artifacts/temp_data/with_year_data.csv',index=False)

In [212]:
from sklearn.linear_model import LogisticRegression